@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}
.two{
    width: 100%;
    display: flex;
}
.structur{
    width: 50%;
    padding-left: 50px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;

}
.semantic{
    width: 50%;
    height:auto;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.semantic input[type="submit"], .structur input[type="submit"]{

    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 20px;
    line-height: 29px;
    padding: 10px 10px 10px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    margin:10px;
    max-height: 50px;
}

.semantic input[type="submit"]:hover, .structur input[type="submit"]:hover{
    background-color: #f7fafa;
}

.semantic input[type="submit"]:focus, .structur  input[type="submit"]:focus{
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
    
}
.textareas{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    transition: all 0.4s ease-in-out;
}
.textareas img{
    position: fixed;
    bottom: 100px;
    right: 50px;

    transition: all 0.5s ease-in-out;

}
.textareas img:hover{
    width: 84px;
    height: 84px;
    cursor: pointer;
}
.textareas textarea{
    border: 3px solid #02b6d1;
    border-radius: 12px;
}
footer{
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: #0f1111;
    color: #ffff;
    font-size: 25px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}